In [1]:
import pandas as pd
import numpy as np

columns = [
    'Round',
    'Match Name',
    'Team ID',
    'Team Name',
    'id',
    'Full Name',
    'pos',
    'team',
    'team_opponent',
    'pts',
    'On Field?'
]
basic_columns = [
    'Round',
    'Match Name',
    'Team Name',
    'Full Name',
    'pts',
]

In [2]:
df_all_league_match_data = pd.read_csv("outputs/all_matches_detailed.csv")
df_all_league_match_data = df_all_league_match_data.sort_values(['Round', 'Match Name', 'Team ID', 'On Field?', 'pos', 'pts'], ascending=[True, True, True, False, True, False])

In [3]:
# Finals not included
finals_not_included = df_all_league_match_data['Round'] <= 21
# Byes not included
byes_not_included = ~df_all_league_match_data['Round'].between(12,14)
# Only Donuts
only_donuts = (df_all_league_match_data['On Field?'] == True) & (df_all_league_match_data['pts'] == 0)
# Donuts excluded
donuts_not_included = (df_all_league_match_data['pts'] > 0)
# On Field
on_field = (df_all_league_match_data['On Field?'] == True)

In [4]:
# All on field players for a selected team and round
df_all_league_match_data.loc[(df_all_league_match_data['Team Name'] == 'Fire The Worpedo') & (df_all_league_match_data['Round'] == 16), columns]

,Round,Match Name,Team ID,Team Name,id,Full Name,pos,team,team_opponent,pts,On Field?
1277,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,714,Dane Rampe,DEF,SYD,ESS,117,True
1276,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,221,Adam Saad,DEF,ESS,SYD,86,True
1280,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,607,Brandon Ellis,DEF,RIC,GCS,80,True
1278,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,708,Callum Mills,DEF,SYD,ESS,60,True
1279,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,380,Jeremy Finlayson,DEF,GWS,BRL,21,True
1289,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,481,Tom McDonald,FWD,MEL,CAR,139,True
1292,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,426,Jarman Impey,FWD,HAW,COL,90,True
1293,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,455,James Worpel,FWD,HAW,COL,71,True
1291,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,372,Jeremy Cameron,FWD,GWS,BRL,64,True
1290,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,102,Zac Fisher,FWD,CAR,MEL,48,True
1284,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,312,David Swallow,MID,GCS,RIC,118,True
1281,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,167,Scott Pendlebury,MID,COL,HAW,100,True
1283,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,696,George Hewett,MID,SYD,ESS,91,True
1286,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,5,Brad Crouch,MID,ADE,PTA,89,True
1285,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,441,Jaeger O'Meara,MID,HAW,COL,87,True
1282,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,213,Zach Merrett,MID,ESS,SYD,59,True
1287,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,68,Jarryd Lyons,MID,BRL,GWS,50,True
1288,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,464,Max Gawn,RUC,MEL,CAR,0,True
1295,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,553,Darcy Byrne-Jones,DEF,PTA,ADE,121,False
1294,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,409,Lachie Whitfield,DEF,GWS,BRL,0,False
1296,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,763,Mitch Wallis,FWD,WBD,GEE,0,False
1297,16,Casting Crouch vs Fire The Worpedo,11070,Fire The Worpedo,599,Josh Caddy,FWD,RIC,GCS,0,False

In [5]:
donut_list = df_all_league_match_data.loc[(finals_not_included) & (byes_not_included) & (only_donuts), columns].sort_values(['Round', 'Team ID'])

donut_pivot = donut_list.pivot_table(index='Team Name', values='pts', aggfunc='count').sort_values('pts', ascending=False)
donut_pivot

                    pts
Team Name
DEVQON.1              4
Casting Crouch        2
Fire The Worpedo      2
Salt&VinegarCripps    2
Swimming n Titch      2
TryingAnewStratton    2
Barbeques Treloar     1

In [6]:
donut_list[['Round', 'Team Name', 'Match Name', 'Full Name']]

,Round,Team Name,Match Name,Full Name
3041,4,Fire The Worpedo,Fire The Worpedo vs Swimming n Titch,Dayne Beams
3526,7,Swimming n Titch,Swimming n Titch vs Casting Crouch,Josh Kelly
3612,7,DEVQON.1,TryingAnewStratton vs DEVQON.1,Wayne Milera
3857,8,Barbeques Treloar,Barbeques Treloar vs Fire The Worpedo,Joel Selwood
266,10,DEVQON.1,Fire The Worpedo vs DEVQON.1,Christian Salem
250,10,Casting Crouch,Casting Crouch vs Salt&VinegarCripps,Matt Crouch
364,11,Swimming n Titch,Fire The Worpedo vs Swimming n Titch,Rhys Stanley
443,11,DEVQON.1,DEVQON.1 vs Salt&VinegarCripps,Christian Salem
1337,16,DEVQON.1,Man of Steele vs DEVQON.1,Travis Boak
1288,16,Fire The Worpedo,Casting Crouch vs Fire The Worpedo,Max Gawn
1434,17,Salt&VinegarCripps,Casting Crouch vs Salt&VinegarCripps,Dan Houston
1437,17,Salt&VinegarCripps,Casting Crouch vs Salt&VinegarCripps,Stephen Coniglio
1485,17,Casting Crouch,Casting Crouch vs Salt&VinegarCripps,Hugh McCluggage
1720,18,TryingAnewStratton,TryingAnewStratton vs Man of Steele,Shannon Hurn
1897,19,TryingAnewStratton,TryingAnewStratton vs Casting Crouch,Dyson Heppell

In [7]:
# Number of players to play on field during the season
unique_player_data = df_all_league_match_data.loc[(finals_not_included) & (on_field), columns]
unique_player_count_pivot = unique_player_data.pivot_table(index='Team Name', values=('id'), aggfunc=lambda x: len(x.unique())).sort_values(by=['id'], ascending=False)
unique_player_count_pivot

                    id
Team Name
Swimming n Titch    68
Salt&VinegarCripps  64
Barbeques Treloar   61
TryingAnewStratton  61
Casting Crouch      52
DEVQON.1            50
Fire The Worpedo    48
Man of Steele       47

In [8]:
# Selected Team Summary
selected_team = 'Barbeques Treloar'
selected_team_data = unique_player_data.loc[unique_player_data['Team Name'] == selected_team]
unique_player_pivot = selected_team_data.pivot_table(index=('Full Name'), values=('pts'), aggfunc=(np.count_nonzero, np.average, np.sum)).sort_values('count_nonzero', ascending=False)
unique_player_pivot.round({'average': 1, 'count_nonzero': 0, 'sum': 0}).head(20)

                     average  count_nonzero     sum
Full Name
Lachie Hunter           94.6           20.0  1891.0
Ben Cunnington          98.6           20.0  2070.0
Nat Fyfe               115.3           18.0  2191.0
Tom Hawkins             86.2           17.0  1466.0
Joel Selwood            83.1           17.0  1495.0
Harris Andrews          78.1           16.0  1327.0
Sam Petrevski-Seton     83.6           15.0  1254.0
Nick Haynes             82.1           14.0  1232.0
Nick Vlastuin           94.5           14.0  1323.0
Jack Ziebell            87.8           14.0  1317.0
Jack Gunston            71.6           14.0  1074.0
Tom Liberatore          86.2           13.0  1120.0
Patrick Cripps         102.9           12.0  1338.0
Lachie Weller           79.8           12.0  1038.0
Luke Breust             76.4            9.0   688.0
Jeremy McGovern         88.8            9.0   799.0
Shane Mumford           80.0            7.0   560.0
Jared Polec             83.6            7.0   585.0
Tom Papley              68.9            7.0   482.0
Jack Newnes             66.5            6.0   399.0

In [9]:
# Top 15 Most Carried on field Players (played 7 or more games)
most_carried_pivot = unique_player_data.pivot_table(index=('Team Name', 'Full Name'), values=('pts'), aggfunc=(np.count_nonzero, np.average, np.sum)).sort_values('average')
most_carried_pivot = most_carried_pivot.reset_index()
most_carried_pivot = most_carried_pivot[most_carried_pivot['count_nonzero'] >= 7]
most_carried_pivot.round({'average': 1, 'count_nonzero': 0, 'sum': 0}).head(15)

              Team Name       Full Name  average  count_nonzero     sum
83   Salt&VinegarCripps  Lance Franklin     61.8            9.0   618.0
108      Casting Crouch    Bradley Hill     65.8            7.0   526.0
129            DEVQON.1     Aliir Aliir     68.6            7.0   480.0
130  Salt&VinegarCripps     Toby McLean     68.7           10.0   687.0
132   Barbeques Treloar      Tom Papley     68.9            7.0   482.0
136            DEVQON.1    Wayne Milera     69.3           14.0  1039.0
137    Fire The Worpedo    Mitch Wallis     69.8           10.0   837.0
154   Barbeques Treloar    Jack Gunston     71.6           14.0  1074.0
162  Salt&VinegarCripps    Kade Simpson     72.6            9.0   653.0
165    Fire The Worpedo     Dayne Beams     73.2            9.0   732.0
166    Fire The Worpedo       Adam Saad     73.3           12.0   953.0
170    Fire The Worpedo      Liam Baker     73.9            7.0   517.0
177       Man of Steele      Tom Papley     74.3            7.0   520.0
181    Swimming n Titch    Jamie Cripps     74.5           11.0   820.0
186      Casting Crouch     Jack Martin     75.3           13.0   979.0

In [10]:
# Top 15 Most Carried players (including on bench)
unique_player_data_inc_bench = df_all_league_match_data.loc[(finals_not_included), columns]

most_carried_pivot_inc_bench = unique_player_data_inc_bench.pivot_table(index=('Team Name', 'Full Name'), values=('pts'), aggfunc=('count', np.average, np.sum)).sort_values('average')
most_carried_pivot_inc_bench = most_carried_pivot_inc_bench.reset_index()
most_carried_pivot_inc_bench = most_carried_pivot_inc_bench[most_carried_pivot_inc_bench['count'] >= 7]
most_carried_pivot_inc_bench.round({'average': 1, 'count_nonzero': 0, 'sum': 0}).head(15)

             Team Name             Full Name  average  count    sum
9     Fire The Worpedo          Jayden Short     16.5   10.0  165.0
17  Salt&VinegarCripps        Lance Franklin     29.4   21.0  618.0
20      Casting Crouch         Trent Cotchin     33.0    7.0  231.0
21  TryingAnewStratton          Taylor Adams     34.4   21.0  723.0
22            DEVQON.1            Zach Tuohy     34.7   13.0  451.0
23      Casting Crouch          Sam Menegola     34.9   21.0  732.0
38   Barbeques Treloar         Jack Riewoldt     39.1   10.0  391.0
42  TryingAnewStratton           Ollie Wines     41.0   21.0  861.0
43   Barbeques Treloar  Cameron Ellis-Yolmen     41.5   14.0  581.0
57  Salt&VinegarCripps        Connor Blakely     48.5   20.0  970.0
62      Casting Crouch           Bryce Gibbs     49.1    7.0  344.0
63    Fire The Worpedo          Mitch Wallis     49.2   17.0  837.0
66  Salt&VinegarCripps          Kade Simpson     50.2   13.0  653.0
67    Swimming n Titch          Rhys Stanley     50.4    7.0  353.0
85  TryingAnewStratton       Brandan Parfitt     53.4   15.0  801.0

In [11]:
# Who played for the most teams?
player_average_by_team = df_all_league_match_data.pivot_table(index=("Full Name"), values="Team Name", aggfunc=lambda x: len(x.unique())).sort_values('Team Name', ascending=False)
player_average_by_team.head(15)

                   Team Name
Full Name
Blake Hardwick             5
Darcy Byrne-Jones          4
Ben Brown                  4
Jack Newnes                4
Josh J. Kennedy            4
Jack Darling               4
Ed Curnow                  4
Tom Phillips               4
Paddy Ryder                4
Brayden Maynard            4
Jared Polec                4
Adam Saad                  4
Jarryd Lyons               3
Jack Ziebell               3
Touk Miller                3

In [12]:
match_data = df_all_league_match_data.loc[(finals_not_included) & (on_field)]
match_pivot = match_data.pivot_table(index=("Team Name", "Round"), values="pts", aggfunc=("sum", np.count_nonzero))
match_score_list = match_pivot.reset_index()

In [13]:
# All on field players for a selected team and round
match_data.loc[(match_data['Team Name'] == 'Salt&VinegarCripps') & (match_data['Round'] == 17), ['Match Name', 'Full Name', 'pts']]

                                Match Name         Full Name  pts
1431  Casting Crouch vs Salt&VinegarCripps   Jeremy McGovern   94
1433  Casting Crouch vs Salt&VinegarCripps    Connor Blakely   86
1430  Casting Crouch vs Salt&VinegarCripps     Brad Sheppard   73
1432  Casting Crouch vs Salt&VinegarCripps  Jason Johannisen   44
1434  Casting Crouch vs Salt&VinegarCripps       Dan Houston    0
1445  Casting Crouch vs Salt&VinegarCripps     Luke Dahlhaus   74
1447  Casting Crouch vs Salt&VinegarCripps   Justin Westhoff   71
1444  Casting Crouch vs Salt&VinegarCripps     Kyle Langford   59
1446  Casting Crouch vs Salt&VinegarCripps       Toby McLean   16
1443  Casting Crouch vs Salt&VinegarCripps       Darcy Moore   13
1435  Casting Crouch vs Salt&VinegarCripps      Adam Treloar  125
1439  Casting Crouch vs Salt&VinegarCripps      Lachie Neale  118
1441  Casting Crouch vs Salt&VinegarCripps     Trent Cotchin  111
1436  Casting Crouch vs Salt&VinegarCripps       Gary Ablett  104
1438  Casting Crouch vs Salt&VinegarCripps         Dom Sheed   80
1440  Casting Crouch vs Salt&VinegarCripps     Dustin Martin   62
1437  Casting Crouch vs Salt&VinegarCripps  Stephen Coniglio    0
1442  Casting Crouch vs Salt&VinegarCripps    Todd Goldstein  132

In [14]:
# Highest score
highest_score = match_score_list[match_score_list['sum'] == max(match_score_list['sum'])]
highest_score

         Team Name  Round  count_nonzero   sum
102  Man of Steele     19             18  1911

In [15]:
# Lowest score excluding byes
match_score_list_excluding_byes = match_score_list.loc[(~match_score_list['Round'].between(12,14))]
lowest_score = match_score_list_excluding_byes[match_score_list_excluding_byes['sum'] == min(match_score_list_excluding_byes['sum'])]
lowest_score

              Team Name  Round  count_nonzero   sum
121  Salt&VinegarCripps     17             16  1262

In [16]:
# Only Byes
only_byes = match_score_list['Round'].between(12,14)
bye_score_list = match_score_list.loc[(only_byes)]

In [17]:
# Highest Bye Score
highest_bye_score = bye_score_list[bye_score_list['sum'] == max(bye_score_list['sum'])]
highest_bye_score

            Team Name  Round  count_nonzero   sum
139  Swimming n Titch     14             17  1624

In [18]:
# Lowest Bye Score
lowest_bye_score = bye_score_list[bye_score_list['sum'] == min(bye_score_list['sum'])]
lowest_bye_score

            Team Name  Round  count_nonzero  sum
13  Barbeques Treloar     14             12  827

In [19]:
# bench_list
bench_list = df_all_league_match_data.loc[(finals_not_included) & (~on_field), columns]
# ignore zero scores
bench_list = bench_list.replace(0, np.NaN)
bench_list.loc[(bench_list['Team Name'] == 'Barbeques Treloar') & (bench_list['Round'] == 2)]

,Round,Match Name,Team ID,Team Name,id,Full Name,pos,team,team_opponent,pts,On Field?
2108,2,Barbeques Treloar vs Salt&VinegarCripps,8740,Barbeques Treloar,221,Adam Saad,DEF,ESS,STK,104.0,False
2111,2,Barbeques Treloar vs Salt&VinegarCripps,8740,Barbeques Treloar,54,Charlie Cameron,FWD,BRL,NTH,87.0,False
2110,2,Barbeques Treloar vs Salt&VinegarCripps,8740,Barbeques Treloar,218,Darcy Parish,FWD,ESS,STK,74.0,False
2109,2,Barbeques Treloar vs Salt&VinegarCripps,8740,Barbeques Treloar,786,Andrew Gaff,MID,WCE,GWS,NaN,False

In [20]:
# Bench utilisation
scoring_bench_player_count = bench_list.groupby(['Team Name'])['pts'].agg(['mean', 'count'])
scoring_bench_player_count = scoring_bench_player_count.reset_index().rename(columns = {'Team Name': 'Team Name', 'count': 'Scoring Players', 'mean': 'Average'})
scoring_bench_player_count['Utilisation'] = (scoring_bench_player_count['Scoring Players']/84) * 100
scoring_bench_player_count.sort_values(['Scoring Players', 'Average'], ascending=False)

            Team Name    Average  Scoring Players  Utilisation
4       Man of Steele  80.054545               55    65.476190
6    Swimming n Titch  78.230769               52    61.904762
2            DEVQON.1  81.000000               45    53.571429
3    Fire The Worpedo  81.309524               42    50.000000
0   Barbeques Treloar  79.486486               37    44.047619
5  Salt&VinegarCripps  77.378378               37    44.047619
1      Casting Crouch  86.171429               35    41.666667
7  TryingAnewStratton  77.678571               28    33.333333

In [21]:
thisdict = {
    "thingy1": 1,
    "thingy2": 2
}
thisdict

{'thingy1': 1, 'thingy2': 2}

In [22]:
def get_lowest_on_field_score_for_position(row):
    team_id = row['Team ID']
    round_id = row['Round']
    position = row['pos']
    comparison_player = df_all_league_match_data.loc[(df_all_league_match_data['Team ID'] == team_id) & (df_all_league_match_data['Round'] == round_id) & (df_all_league_match_data['pos'] == position) & (on_field) & (donuts_not_included) ]
    comparison_player = comparison_player.nsmallest(1, 'pts')
    comparison_player = comparison_player.iloc[0]
    return_data = {'Full Name': comparison_player['Full Name'], 'pts': comparison_player['pts']}
    return return_data

# Highest scoring bench players
bench_list_2 = df_all_league_match_data.loc[(finals_not_included) & (~on_field)]
bench_list_2['Played...'] = bench_list_2.apply(lambda row: get_lowest_on_field_score_for_position(row)['Full Name'], axis=1)
bench_list_2['Actually got...'] = bench_list_2.apply(lambda row: get_lowest_on_field_score_for_position(row)['pts'], axis=1)
bench_list_2['Diff'] = bench_list_2['pts'] - bench_list_2['Actually got...']
bench_list_2.nlargest(10, 'Diff')[['Round', 'Match Name', 'Team Name', 'Full Name', 'pts', 'Played...', 'Actually got...', 'Diff']]

C:\Users\Richa\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\Richa\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Richa\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Round,Match Name,Team Name,Full Name,pts,Played...,Actually got...,Diff
1492,17,Casting Crouch vs Salt&VinegarCripps,Casting Crouch,Robbie Tarrant,160,Jasper Pittard,33,127
2881,3,Fire The Worpedo vs DEVQON.1,Fire The Worpedo,Jeremy Cameron,163,Rhys Mathieson,46,117
3033,4,DEVQON.1 vs Salt&VinegarCripps,Salt&VinegarCripps,Marc Murphy,114,Callan Ward,4,110
1295,16,Casting Crouch vs Fire The Worpedo,Fire The Worpedo,Darcy Byrne-Jones,121,Jeremy Finlayson,21,100
2903,3,Casting Crouch vs Salt&VinegarCripps,Casting Crouch,Mitch Robinson,131,Willem Drew,36,95
1536,17,Man of Steele vs Swimming n Titch,Man of Steele,Shane Savage,112,Heath Shaw,20,92
3824,8,Man of Steele vs Casting Crouch,Man of Steele,Jamie Macmillan,90,Ryan Burton,6,84
1514,17,Fire The Worpedo vs DEVQON.1,DEVQON.1,Wayne Milera,114,Michael Hurley,32,82
371,11,Fire The Worpedo vs Swimming n Titch,Swimming n Titch,Jarryd Lyons,127,Jack Redden,46,81
1140,15,Man of Steele vs Casting Crouch,Casting Crouch,Jasper Pittard,125,Matthew Suckling,45,80

In [23]:
df_sc_player_list = pd.read_excel("inputs/2019_sc_player_list.xlsx")
df_sc_player_list['Full Name'] = df_sc_player_list['First Name'] + ' ' + df_sc_player_list['Last Name']
# df_sc_player_list

In [24]:
df_fanfooty_player_list = pd.read_csv('inputs/2019_fanfooty_player_list.csv', encoding = "ISO-8859-1")
df_fanfooty_player_list.rename(columns={
    'FanFooty player ID': 'fanfooty_player_id', 
    ' AFL player id': 'afl_player_id',
    ' first name (may include middle initial)': 'first_name',
    ' surname': 'surname', 
    ' AFL team': 'afl_team',
    ' AFL status (senior/rookie/long-term injured/AFL suspension/club suspension)': 'status',
    ' jumper number': 'jumper_number', 
    ' date of birth': 'birth_date', 
    ' height in cm': 'height', 
    ' weight in kg': 'weight',
    ' state of origin': 'state_of_origin', 
    ' recruited from': 'recruited_from', 
    ' games': 'game', 
    'goals': 'goals'}, inplace=True)
df_fanfooty_player_list['Full Name'] = df_fanfooty_player_list['first_name'] + ' ' + df_fanfooty_player_list['surname']
# df_fanfooty_player_list

In [25]:
merged_name_data = df_fanfooty_player_list.merge(df_sc_player_list,
                                                left_on='Full Name',
                                                right_on='Full Name',
                                                how='outer')
missing_avgs = merged_name_data[merged_name_data['Avg'].isnull()]
# missing_avgs.reset_index(inplace=True,drop='index')
missing_avgs[['fanfooty_player_id', 'afl_player_id', 'Full Name', 'SC Player ID']]
# merged_name_data.to_csv(r'outputs/merged.csv')

     fanfooty_player_id  afl_player_id            Full Name  SC Player ID
9               42316.0       293479.0     Cam Ellis-Yolmen           NaN
14              49062.0      1008159.0          Will Hamill           NaN
25              40030.0       270938.0         Tom T. Lynch           NaN
52              49046.0      1006100.0            Tom Berry           NaN
58              49140.0      1013532.0        Tom Fullarton           NaN
98              45139.0       298446.0          Josh Deluca           NaN
108             47044.0       998116.0         Patrick Kerr           NaN
111             47045.0       992276.0           Kym LeBois           NaN
124             45010.0       990423.0       Jarrod Pickett           NaN
125             43008.0       294624.0      Lachlan Plowman           NaN
141             49102.0      1008288.0      Atu Bosenvulagi           NaN
143             47038.0      1002770.0         Callum Brown           NaN
167             46124.0      1003620.0        Samuel Murray           NaN
188             40048.0       290622.0       Mitch W. Brown           NaN
205             49107.0       994073.0              Tom Jok           NaN
225             46037.0       990606.0        Will Snelling           NaN
241             48068.0      1002353.0        Mitch Crowden           NaN
258             44016.0       995192.0     Cameron McCarthy           NaN
266             49088.0      1000860.0       Lachlan Schulz           NaN
268             48224.0       992059.0    Samuel Switkowski           NaN
280             48997.0      1000068.0        Chris Burgess           NaN
281             46091.0       295446.0       Samuel Collins           NaN
282             48998.0      1005547.0         Josh Corbett           NaN
312             46084.0       998511.0    Joshua Schoenfeld           NaN
316             45007.0       298524.0       Lachlan Weller           NaN
322               552.0       220001.0      Gary Ablett jnr           NaN
335             48143.0      1002228.0      Lachlan Fogarty           NaN
384             48125.0      1004991.0          Harry Jones           NaN
386             42104.0       290683.0        Will Langford           NaN
432             44025.0       296343.0   Jay Kennedy-Harris           NaN
450             47110.0       294823.0            Tim Smith           NaN
454             45149.0       297990.0     Aaron Vandenberg           NaN
457             46102.0       294675.0        Joshua Wagner           NaN
483             49129.0      1014044.0        Red Óg Murphy           NaN
498             49120.0       992076.0     Thomas Wilkinson           NaN
501             40050.0       280864.0           Sam Wright           NaN
545              2023.0       250267.0        Patrick Ryder           NaN
546             42324.0       290733.0    Cameron Sutcliffe           NaN
558             45058.0       992374.0        Daniel Butler           NaN
570             39497.0       250298.0          Shaun Grigg           NaN
590             48239.0      1006276.0          Derek Smith           NaN
609             48161.0      1005717.0    Nicholas Coffield           NaN
634             42336.0       293846.0             Seb Ross           NaN
642             49095.0       295015.0         Robbie Young           NaN
655              1556.0       240072.0         Heath Grundy           NaN
687             39485.0       270742.0         Kurt Tippett           NaN
689             49125.0      1006232.0            Sam Wicks           NaN
691             44001.0       296367.0             Tom Boyd           NaN
717             40129.0       271439.0          Liam Picken           NaN
724             39592.0       270732.0        Matt Suckling           NaN
734             49105.0      1004909.0         Lachie Young           NaN
746             46019.0       993820.0             Tom Cole           NaN
780             49011.0      1006114.0   Bailey J. Williams           NaN
787             42244.0       291797.0      Matthew Buntine           NaN
795             40055.0       271015.0      Matthew de Boer           NaN
799             48221.0      1004286.0    Zac Giles-Langdon           NaN
804             46057.0       993107.0  Harrison Himmelberg           NaN
817             42298.0       291792.0      Thomas Sheridan           NaN
818             48036.0      1002296.0     Nicholas Shipley           NaN

In [26]:
#Fuzzy matching
from fuzzywuzzy import fuzz

def match_name(name, list_names, min_score=0):
    # -1 score incase we don't get any matches
    max_score = -1
    # Returning empty name for no match as well
    max_name = ""
    # Iternating over all names in the other
    for name2 in list_names:
        #Finding fuzzy match score
        score = fuzz.ratio(name, name2)
        # Checking if we are above our threshold and have a better score
        if (score > min_score) & (score > max_score):
            max_name = name2
            max_score = score
    return (max_name, max_score)

dict_list = []
for index, row in missing_avgs.iterrows():
    match = match_name(row['Full Name'], df_sc_player_list['Full Name'], 60)
    dict_ = {}
    dict_.update({"fanfooty_player_id" : row['fanfooty_player_id']})
    dict_.update({"afl_player_id" : row['afl_player_id']})
    dict_.update({"SC Player ID" : row['SC Player ID']})
    dict_.update({"player_name" : row['Full Name']})
    dict_.update({"match_name" : match[0]})
    dict_.update({"score" : match[1]})
    dict_list.append(dict_)
    
merge_table = pd.DataFrame(dict_list)

# List for dicts for easy dataframe creation
dict_list = []
# iterating over our players without salaries found above
for name in missing_avgs['Full Name']:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, df_sc_player_list['Full Name'], 60)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"player_name" : name})
    dict_.update({"match_name" : match[0]})
    dict_.update({"score" : match[1]})
    dict_list.append(dict_)
    
merge_table = pd.DataFrame(dict_list)
# Display results
# merge_table
# merge_table.to_csv(r'outputs/matched_names')

df_matched_names = pd.read_csv(r'outputs/matched_names.csv')

In [27]:
df_combined_dataset = pd.read_csv('outputs/combined_dataset.csv')
df_combined_dataset[['fanfooty_player_id', 'afl_player_id', 'SC Player ID', 'Full Name', 'Matches', 'Avg']].sort_values(['Avg'], ascending=False).head(10)

,fanfooty_player_id,afl_player_id,SC Player ID,Full Name,Matches,Avg
13,43007,293957,153,Brodie Grundy,22.0,130.00
1,41056,290528,464,Max Gawn,21.0,128.38
18,43022,295467,748,Jack Macrae,22.0,123.18
6,42323,293535,77,Lachie Neale,22.0,121.27
20,41049,291570,243,Nat Fyfe,20.0,120.00
45,44002,296347,390,Josh Kelly,14.0,117.43
12,44030,990704,94,Patrick Cripps,20.0,117.10
2,46010,993834,734,Josh Dunkley,22.0,116.45
0,39610,270917,331,Patrick Dangerfield,21.0,115.19
34,44006,297373,726,Marcus Bontempelli,22.0,114.73

In [28]:
df_all_sc_scores = pd.read_csv('inputs/all_sc_scores_2019_post_gf_20191013-195627.csv', dtype={"Player ID": int, "null8": str})
df_all_sc_scores['Round'] = df_all_sc_scores['Round'].map(lambda x: x.lstrip('R'))
injury_tags = ['sore', 'injured', 'longterminjured','concussed']

def is_injured(df_tag):
    if (df_tag['SC'] < 80) and ((df_tag['Tag'] in injury_tags) or (df_tag['Tag 2'] in injury_tags)):
        return True
    else:
        return False

df_all_sc_scores['Injured'] = df_all_sc_scores.apply(is_injured, axis=1)
# All injured players
df_all_sc_scores.loc[(df_all_sc_scores['Injured'] == True) & (df_all_sc_scores['Year'] == 2019), ['Round', 'Year', 'Player ID', 'First Name', 'Surname', 'Team', 'SC', 'Tag', 'Tag 2', 'Injured']]

C:\Users\Richa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Round,Year,Player ID,First Name,Surname,Team,SC,Tag,Tag 2,Injured
79512,1,2019,261362,Alex,Rance,RI,36.0,longterminjured,job,True
79556,1,2019,1002220,Esava,Ratugolea,GE,33.0,sore,spearhead,True
79597,1,2019,1004998,Todd,Marshall,PA,48.0,concussed,spearhead,True
79618,1,2019,240370,Richard,Douglas,AD,46.0,injured,wing,True
79621,1,2019,1000932,Tom,Doedee,AD,56.0,longterminjured,guard,True
79633,1,2019,280737,Liam,Shiels,HW,54.0,sore,shovel,True
79717,1,2019,290838,Jack,Darling,WC,75.0,sore,spearhead,True
79775,1,2019,998130,Ben,Ainsworth,GC,23.0,sore,pocket,True
79776,1,2019,295446,Samuel,Collins,GC,27.0,sore,job,True
79798,1,2019,998205,Harry,Perryman,WS,26.0,injured,guard,True
79831,1,2019,290823,Reece,Conca,FR,76.0,sore,shovel,True
79863,1,2019,295340,Mason,Wood,NM,29.0,sore,spearhead,True
79864,1,2019,298287,Ed,Vickers-Willis,NM,1.0,injured,job,True
79871,2,2019,294592,Kamdyn,McIntosh,RI,48.0,sore,wing,True
79882,2,2019,250395,Jack,Riewoldt,RI,33.0,sore,spearhead,True
79947,2,2019,270811,Sam,Jacobs,AD,48.0,sore,ruck,True
79962,2,2019,293884,Jake,Stringer,ES,78.0,sore,wing,True
79964,2,2019,998102,Andrew,McGrath,ES,74.0,sore,guard,True
80012,2,2019,280972,Jack,Watts,PA,72.0,injured,job,True
80018,2,2019,297354,Karl,Amon,PA,7.0,injured,wing,True
80024,2,2019,250105,Marc,Murphy,CA,51.0,concussed,wing,True
80038,2,2019,990424,Jarrod,Garlett,CA,45.0,sore,guard,True
80040,2,2019,996731,Charlie,Curnow,CA,7.0,injured,spearhead,True
80059,2,2019,291357,Gary,Rohan,GE,65.0,concussed,pocket,True
80062,2,2019,1000937,Jack,Henry,GE,26.0,injured,job,True
80071,2,2019,280824,Jake,Melksham,ME,68.0,sore,pocket,True
80084,2,2019,281085,Steven,May,ME,23.0,injured,job,True
80126,2,2019,280804,Phil,Davis,WS,32.0,sore,job,True
80128,2,2019,1005247,Sam,Taylor,WS,33.0,sore,job,True
80144,2,2019,992499,Kayne,Turner,NM,51.0,sore,wing,True
...,...,...,...,...,...,...,...,...,...,...
87650,22,2019,270951,David,Zaharakis,ES,18.0,injured,guard,True
87687,22,2019,290838,Jack,Darling,WC,74.0,sore,spearhead,True
87694,22,2019,281052,Mark,Hutchings,WC,11.0,injured,tagger,True
87711,22,2019,294508,Aidan,Corr,WS,55.0,sore,job,True
87712,22,2019,1007238,Jake,Stein,WS,49.0,sore,guard,True
87736,22,2019,993841,Josh,Schache,WB,58.0,sore,spearhead,True
87794,23,2019,290289,Josh,Thomas,CO,72.0,sore,wing,True
87804,23,2019,295012,Matthew,Scharenberg,CO,16.0,injured,job,True
87817,23,2019,990816,Aaron,Francis,ES,60.0,concussed,guard,True
87821,23,2019,270935,Michael,Hurley,ES,48.0,injured,job,True
87848,23,2019,291307,Daniel,Menzel,SY,12.0,sore,pocket,True
87888,23,2019,290194,Jamie,Macmillan,NM,35.0,injured,guard,True
88002,23,2019,993107,Harrison,Himmelberg,WS,46.0,sore,spearhead,True
88016,23,2019,281080,Brad,Sheppard,WC,69.0,sore,guard,True
88044,23,2019,280969,Tom,Scully,HW,15.0,injured,wing,True
88198,EF,2019,298298,Jackson,Nelson,WC,45.0,concussed,guard,True
88221,EF,2019,290622,Mitch W.,Brown,ES,16.0,injured,spearhead,True
88233,EF,2019,291526,Luke,Dahlhaus,GE,51.0,sore,wing,True
88237,EF,2019,281065,Mitch,Duncan,GE,44.0,injured,wing,True
88243,EF,2019,293883,Jed,Bews,GE,42.0,sore,guard,True
88244,EF,2019,291357,Gary,Rohan,GE,26.0,injured,spearhead,True
88265,EF,2019,270861,Levi,Greenwood,CO,19.0,injured,guard,True
88266,EF,2019,994185,Jordan,De Goey,CO,5.0,injured,wing,True
88303,EF,2019,1002404,Aaron,Naughton,WB,48.0,injured,spearhead,True
88398,SF,2019,990290,Tom,Barrass,WC,11.0,sore,job,True
88451,PF,2019,270896,Trent,Cotchin,RI,68.0,sore,shovel,True
88459,PF,2019,990827,Jack,Graham,RI,36.0,sore,shovel,True
88464,PF,2019,295203,Nathan,Broad,RI,25.0,concussed,job,True
88481,PF,2019,1002220,Esava,Ratugolea,GE,61.0,sore,spearhead,True
88530,PF,2019,280804,Phil,Davis,WS,30.0,sore,switch,True

In [29]:
df_match_data_with_fanfooty_id = pd.merge(df_all_league_match_data, df_combined_dataset, how='left', left_on='feed_id', right_on='afl_player_id')
df_match_data_with_fanfooty_id['player_round_year_id'] = df_match_data_with_fanfooty_id['feed_id'].astype(str) + '_' + df_match_data_with_fanfooty_id['Round'].astype(str) + '_' + "2019"
df_match_data_with_fanfooty_id
# df_match_data_with_fanfooty_id.to_csv(r'outputs/df_match_data_with_fanfooty_id.csv')

df_all_sc_scores['player_round_year_id'] = round(df_all_sc_scores['Player ID'], 0).astype(str) + '_' + df_all_sc_scores['Round'].astype(str) + '_' + df_all_sc_scores['Year'].astype(str)
# df_all_sc_scores.loc[(df_all_sc_scores['Injured'] == True) & (df_all_sc_scores['Year'] == 2019), ['player_round_year_id', 'Round', 'Year', 'Player ID', 'First Name', 'Surname', 'Team', 'SC', 'Tag', 'Tag 2', 'Injured']]
# df_all_sc_scores.to_csv(r'outputs/df_all_sc_scores.csv')

In [34]:
df_match_data_with_fanfooty_info = pd.merge(df_match_data_with_fanfooty_id, df_all_sc_scores, how='left', on='player_round_year_id')
# df_match_data_with_fanfooty_info.to_csv(r'outputs/df_match_data_with_fanfooty_info.csv')

In [57]:
def get_lowest_uninjured_on_field_score_for_position(row):
    team_id = row['Team ID']
    round_id = row['Round_x']
    position = row['pos']
    comparison_player = df_match_data_with_fanfooty_info.loc[(df_match_data_with_fanfooty_info['Team ID'] == team_id) & (df_match_data_with_fanfooty_info['Round_x'] == round_id) & (df_match_data_with_fanfooty_info['pos'] == position) & (df_match_data_with_fanfooty_info["Round_x"] <= 21) & (on_field) & (df_match_data_with_fanfooty_info['pts'] > 0) & (df_match_data_with_fanfooty_info['Injured'] == False) ]
    comparison_player = comparison_player.nsmallest(1, 'pts')
    comparison_player = comparison_player.iloc[0]
    return_data = {'Full Name': comparison_player['Full Name_x'], 'pts': comparison_player['pts']}
    return return_data

# Highest scoring bench players
bench_list_2 = df_match_data_with_fanfooty_info.loc[(df_match_data_with_fanfooty_info["Round_x"] <= 21) & (~on_field) & (df_match_data_with_fanfooty_info['pts'] > 0) & (df_match_data_with_fanfooty_info['Injured'] == False)]
bench_list_2['Played...'] = bench_list_2.apply(lambda row: get_lowest_uninjured_on_field_score_for_position(row)['Full Name'], axis=1)
bench_list_2['Actually got...'] = bench_list_2.apply(lambda row: get_lowest_uninjured_on_field_score_for_position(row)['pts'], axis=1)
bench_list_2['Diff'] = bench_list_2['pts'] - bench_list_2['Actually got...']
bench_list_2.nlargest(10, 'Diff')[['Round_x', 'Match Name', 'Team Name', 'Full Name_x', 'pts', 'Played...', 'Actually got...', 'Diff']]

C:\Users\Richa\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\Richa\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Richa\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Round_x,Match Name,Team Name,Full Name_x,pts,Played...,Actually got...,Diff
2856,17,Casting Crouch vs Salt&VinegarCripps,Casting Crouch,Robbie Tarrant,160,Jasper Pittard,33,127
436,3,Fire The Worpedo vs DEVQON.1,Fire The Worpedo,Jeremy Cameron,163,Rhys Mathieson,46,117
2702,16,Casting Crouch vs Fire The Worpedo,Fire The Worpedo,Darcy Byrne-Jones,121,Jeremy Finlayson,21,100
393,3,Casting Crouch vs Salt&VinegarCripps,Casting Crouch,Mitch Robinson,131,Willem Drew,36,95
2922,17,Man of Steele vs Swimming n Titch,Man of Steele,Shane Savage,112,Heath Shaw,20,92
1869,11,Fire The Worpedo vs Swimming n Titch,Swimming n Titch,Jarryd Lyons,127,Jack Redden,46,81
2548,15,Man of Steele vs Casting Crouch,Casting Crouch,Jasper Pittard,125,Matthew Suckling,45,80
2966,17,TryingAnewStratton vs Barbeques Treloar,TryingAnewStratton,Toby Greene,138,Jy Simpkin,61,77
394,3,Casting Crouch vs Salt&VinegarCripps,Casting Crouch,Shaun Higgins,133,Trent Cotchin,57,76
128,1,Swimming n Titch vs DEVQON.1,DEVQON.1,Jamie Macmillan,124,Shane Savage,51,73

In [98]:
# List of Injuries
df_injury_list = df_match_data_with_fanfooty_info[(df_match_data_with_fanfooty_info['Round_x'] <= 21) & (df_match_data_with_fanfooty_info['On Field?'] == True) & (df_match_data_with_fanfooty_info['Injured'] == True)]
df_injury_list[['Team Name', 'Round_x', 'Full Name_x', 'pts', 'Match Name', 'Fanfooty Match ID']].head(10)
# df_injury_list[['Team Name', 'Round_x', 'Full Name_x', 'pts', 'Match Name', 'Fanfooty Match ID']].to_csv('outputs/injury_list.csv')

,Team Name,Round_x,Full Name_x,pts,Match Name,Fanfooty Match ID
30,Fire The Worpedo,1,Jack Darling,75,Barbeques Treloar vs Fire The Worpedo,http://live.fanfooty.com.au/game/matchcentre.h...
92,Swimming n Titch,1,Alex Rance,36,Swimming n Titch vs DEVQON.1,http://live.fanfooty.com.au/game/matchcentre.h...
113,DEVQON.1,1,Tom Doedee,56,Swimming n Titch vs DEVQON.1,http://live.fanfooty.com.au/game/matchcentre.h...
148,TryingAnewStratton,1,Liam Shiels,54,TryingAnewStratton vs Salt&VinegarCripps,http://live.fanfooty.com.au/game/matchcentre.h...
192,Salt&VinegarCripps,2,Marc Murphy,51,Barbeques Treloar vs Salt&VinegarCripps,http://live.fanfooty.com.au/game/matchcentre.h...
201,Barbeques Treloar,2,Andrew McGrath,74,Barbeques Treloar vs Salt&VinegarCripps,http://live.fanfooty.com.au/game/matchcentre.h...
207,Barbeques Treloar,2,Jack Riewoldt,33,Barbeques Treloar vs Salt&VinegarCripps,http://live.fanfooty.com.au/game/matchcentre.h...
332,Swimming n Titch,2,Luke Ryan,78,TryingAnewStratton vs Swimming n Titch,http://live.fanfooty.com.au/game/matchcentre.h...
334,Swimming n Titch,2,Steven May,23,TryingAnewStratton vs Swimming n Titch,http://live.fanfooty.com.au/game/matchcentre.h...
355,Salt&VinegarCripps,3,Dan Houston,72,Casting Crouch vs Salt&VinegarCripps,http://live.fanfooty.com.au/game/matchcentre.h...

In [99]:
# Who had the most injuries?
most_total_injuries = df_injury_list.groupby(['Team Name'])['pts'].agg(['mean', 'count']).sort_values('count', ascending=False)
most_total_injuries

                         mean  count
Team Name
Barbeques Treloar   55.210526     19
Salt&VinegarCripps  42.000000     18
DEVQON.1            54.470588     17
Man of Steele       53.571429     14
Fire The Worpedo    47.384615     13
Swimming n Titch    45.909091     11
Casting Crouch      53.200000     10
TryingAnewStratton  43.571429      7

In [101]:
# Who had the most injuries in a supercoach match?
df_most_injuries_in_game = df_injury_list.groupby(['Team Name', 'Round_x'])['pts'].agg(['mean', 'count']).sort_values(['count', 'mean'], ascending=[False, True])
df_most_injuries_in_game.reset_index().head(10)

            Team Name  Round_x       mean  count
0  Salt&VinegarCripps       17   9.666667      3
1      Casting Crouch        9  53.333333      3
2    Fire The Worpedo        6  56.666667      3
3   Barbeques Treloar       20  63.333333      3
4   Barbeques Treloar        4  21.000000      2
5    Swimming n Titch       17  25.000000      2
6    Fire The Worpedo       15  34.000000      2
7       Man of Steele       16  39.000000      2
8   Barbeques Treloar       15  40.000000      2
9       Man of Steele        8  42.000000      2